@model Lab_4_Dot_Net.Core.DTO.ObtainingFormDTO

@{
    ViewBag.Title = "ObtainingForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="m-4 container">
    <h2>Adding an obtaining</h2>
    @using (Html.BeginForm("Add", "Obtainings"))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row mb-2">
            <div class="col-md-4">
                @Html.LabelFor(o => o.FinderName)
                @Html.DropDownListFor(o => o.FinderName, new SelectList(Model.FindersNames), "Select a finder", new { @class = "form-control form-select" })
                @Html.ValidationMessageFor(o=>o.FinderName,"", new {@class = "text-danger"})
            </div>
            <div class="col-md-8 pt-5">
                <a href="AddNewFinder" class="btn btn-primary bg-success" tabindex="-1" role="button">Add new finder</a>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-4">
                @Html.LabelFor(o => o.FindingName)
                @Html.DropDownListFor(o => o.FindingName, new SelectList(Model.FindingsNames), "Select a finding", new { @class = "form-control form-select" })
                @Html.ValidationMessageFor(o=>o.FindingName, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-8 pt-5">
                <a href="AddNewFinding" class="btn btn-primary  bg-success" tabindex="-1" role="button">Add new finding</a>
            </div>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    }
</div>
